<!-- <ion-view title='<img class="image-logo" src="../img/infoarchive42.png" />'>-->
<ion-view view-title="Searches">
  <ion-content>
    <div class="list">
      <div ng-repeat="search in searches">
        <div class="item item-button-right">{{search.name}} <span><i class="icon ion-information-circled" ng-click="info($event,$index)"></i><span><button class="button button-positive button-small pull-right" ng-click="add($event,$index)">Select</button></span></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>