<!--<ion-view title='<img class="image-logo" src="../img/infoarchive42.png" />'> -->
<ion-view view-title="Applications">
  <ion-content class="padding">
    
    <div class="row header">
      <div class="col">Name</div>
      <!--<div class="col">Description</div>-->
      <div class="col">Category</div>
      <div class="col">Status</div>
    </div>
    <div class="row" ng-repeat="app in applications">
      <div class="col">{{app.name}}
        <button class="button button-positive" ng-click="add($event,$index)">Submit</button>
      </div>
      <!--<div class="col">{{app.description}}</div>-->
      <div class="col">{{app.category}}&nbsp;
        <i ng-click="info($event,$index)" class="icon ion-information-circled"></i>
      </div>
      <div class="col">{{app.state}}</div>
    </div>
  </ion-content>
</ion-view>