<ion-view view-title="SEARCHES">
  <ion-content class="has-header scroll-tab">
    <div class="list">
      <div ng-repeat="search in searches">
        <div class="item apps item-button-right"><i class="icon ion-help-circled" style="font-size:20px" ng-click="info($event,$index)"></i>&nbsp; &nbsp;&nbsp;{{search.name}} 
          <button class="button button-icon ion-arrow-right-b pull-right" ng-click="add($event,$index)"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>