<ion-view class="pane" view-title="APPLICATIONS">
  <ion-content>
    <div class="list">
      <div ng-repeat="app in applications">
        <div class="item apps item-button-right" ng-if="app.state == 'READY' || app.state == 'ACTIVE' "><i class="icon icon-large ion-help-circled" ng-click="info($event,$index)"></i>&nbsp; &nbsp;&nbsp;{{app.name}} 
          <button class="button button-icon ion-arrow-right-b pull-right" ng-click="add($event,$index)"></button>
        </div>
      </div>
      <div ng-if="activeCount == 0">
        <h4>No active applications found.</h4>
      </div>
    </div>
  </ion-content>
</ion-view>