<!--<ion-view title='<img class="image-logo" src="../img/infoarchive42.png" />'> -->
<ion-view view-title="Search">
  <ion-content padding="true">

    <form name="searchForm" novalidate="" ng-submit="search(searchForm)">
      <div class="listet">
        <div ng-repeat="element in formData" >

          <label class="item item-input">
            <span class="input-label">{{element.label}}</span>
            <input type="{{element.type}}" ng-model="element.value"/>
          </label>
          
        </div>
        <label class="item">
        <button class="button button-block button-positive" type="submit">
          Search
        </button>
      </label>
      </div>
    </form>
  </ion-content>
</ion-view>