<ion-side-menus enable-menu-with-back-views="true" ng-controller="SideCtlr">

  <ion-side-menu-content >

    <ion-nav-bar class="bar-stable">
      
      <ion-nav-back-button>
      </ion-nav-back-button>
      
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--
     <ion-nav-view name="fst" animation="slide-left-right"></ion-nav-view>
     -->


    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <!-- Applications Tab -->
      <ion-tab title="Applications" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/apps">
        <ion-nav-view name="tab-apps"></ion-nav-view>
      </ion-tab>

      <!-- Dashboard Tab -->
      <ion-tab title="Dashboard" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
      </ion-tab>

      <!-- Compliance Tab -->
      <ion-tab title="Compliance" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/comp">
        <ion-nav-view name="tab-comp"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-side-menu-content>

  <!-- Side Menu -->
  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <label>
        <i class="icon ion-person placeholder-icon"></i>
        <span class="title">{{username}}</span>
        </label>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="openSettingsModal($event)"> 
          Settings
        </ion-item>
        <ion-item menu-close ng-click="openAboutPopover($event)">
          About
        </ion-item>
        <ion-item menu-close ng-click="openSignoutPopover($event)">
          Signout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>