# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
node_modules/
platforms/
plugins/
hooks/
resources/android
resources/ios
resources/wp8
www/lib/
www/css/
.DS_Store
npm-debug.log
.saas-cache
.tmp/
*.jade
*.html
.vscode/
www/templates/