ion-side-menus(enable-menu-with-back-views='true')
    ion-side-menu-content
        include ./navbar.pug
        ion-nav-view(name="viewContent")
        //include ./footer.pug                     
    // Side Menu
    ion-side-menu(side='right')
        include ./sidemenu.pug