ion-popover-view
  ion-header-bar.bar-popup
    i.icon.ion-close-circled(style='font-size:20px;',ng-click='closeAppPop($event)')
    h1.title {{appCategory}}
  ion-content.padding.scroll-pop
    | {{appInfo}}
