ion-popover-view
  ion-header-bar.bar-popup
    i.icon.ion-close-circled(style='font-size:20px;',ng-click='closeAboutPop($event)')
    h1.title About
  ion-content.padding.scroll-pop
    | Version {{version}}
