ion-popover-view
  ion-header-bar.bar-popup
    i.icon.ion-close-circled(style='font-size:20px;',ng-click='closeExpiredPop($event)')
  ion-content.padding.scroll-pop
    | Your session has expired, please sign in again.
