ion-popover-view
  ion-header-bar.bar-popup
    i.icon.ion-close-circled(style='font-size:20px;',ng-click='closeNosearchPop($event)')
  ion-content.padding.scroll-pop
    | There are no searches for this application
