ion-view.pane(view-title='SEARCH')
  ion-content.padding
    form(name='searchForm', novalidate='', ng-submit='search(searchForm)')
      .list
        div(ng-repeat='element in formData')
          label.item.search.item-input.item-floating-label
            span.input-label {{element.label}}
            input(type='{{element.type}}', ng-model='element.value',placeholder='{{element.label}}')
        label
          button.button.button-block.button-positive(type='submit')
            | Search
