ion-view(view-title='SEARCHES')
  ion-content.has-header.scroll-tab
    .list
      div(ng-repeat='search in searches')
        .item.apps.item-button-right
          i.icon.ion-help-circled(style='font-size:20px;',ng-click='info($event,$index)')
          | &nbsp; &nbsp;&nbsp;{{search.name}} 
          button.button.button-icon.ion-arrow-right-b.pull-right(ng-click='add($event,$index)')