ion-view.pane(view-title='SEARCHES')
  ion-content
    .list
      div(ng-repeat='search in searches')
        .item.apps.item-button-right
          i.icon.icon-large.ion-help-circled(ng-click='info($event,$index)')
          | &nbsp; &nbsp;&nbsp;{{search.name}} 
          button.button.button-icon.ion-arrow-right-b.pull-right(ng-click='add($event,$index)')