ion-view(view-title='APPLICATIONS')
  ion-content.has-header.scroll-tab
    .list
      div(ng-repeat='app in applications')
        .item.apps.item-button-right(ng-if="app.state == 'READY' || app.state == 'ACTIVE' ")
          i.icon.ion-help-circled(style='font-size:20px;',ng-click='info($event,$index)')
          | &nbsp; &nbsp;&nbsp;{{app.name}} 
          button.button.button-icon.ion-arrow-right-b.pull-right(ng-click='add($event,$index)')
      div(ng-if='activeCount == 0')
        h4 No active applications found.
