//
  <ion-view title='<img class="image-logo" src="../img/infoarchive42.png" />
  <ion-view hide-nav-bar="true" hide-back-button="true" view-title="Dashboard">
ion-view(view-title='Dashboard')
  ion-content.padding
    h3 This page is under construction
