ion-view.pane(view-title='RESULTS')
  ion-content
    ion-list
      .item.col-header.item-icon-right
        .flex-container.wrap
          div(ng-repeat='column in data.columns', ng-click='sortBy(column.id)')
            .column.results-header(ng-class="{ 'underlined' : data.sortOn === column.id }")
              | {{column.name}} 
              span.column-sort
                i(ng-class="{'ion-chevron-up' : data.sortReverse === false, 'ion-chevron-down' : data.sortReverse === true} ", ng-if='data.sortOn === column.id')
      .item.low-pad-item.item-icon-right(ng-repeat='item in data.items | orderBy:data.sortOn:data.sortReverse ')
        .flex-container.wrap
          div(ng-repeat='column in data.columns')
            .column.results {{item[column.id]}} 
        i.icon.ion-arrow-right-b(ng-click='expand($event,item)')
