ion-view.pane(view-title='DETAILS')
  ion-content
    .row(ng-repeat='(key,value) in item')
      .col.details
        span {{key}}
        |  : 
        span.pull-right {{value}} 
      span
        a.button.button-icon.icon.ion-ios-cloud-download(ng-if="key == 'FileName'", ng-click='download($event,$index)')
