ion-side-menus(enable-menu-with-back-views='true', ng-controller='SideCtlr')
  ion-side-menu-content
    include ./navbar.pug
    ion-tabs.tabs-icon-top.tabs-color-active-positive
      // Applications Tab
      ion-tab(title='Applications', icon-off='ion-ios-keypad-outline', icon-on='ion-ios-keypad', href='#/tab/apps')
        ion-nav-view(name='tab-apps')
      // Dashboard Tab
      ion-tab(title='Dashboard', icon-off='ion-ios-home-outline', icon-on='ion-ios-home', href='#/tab/dash')
        ion-nav-view(name='tab-dash')
      // Compliance Tab
      ion-tab(title='Compliance', icon-off='ion-ios-checkmark-outline', icon-on='ion-ios-checkmark', href='#/tab/comp')
        ion-nav-view(name='tab-comp')
        //include ./footer.pug                   
  ion-side-menu(side='right')
    include ./sidemenu.pug        

